<%= form_for(@email_signup) do |f| %>
  <% if @email_signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_signup.errors.count, "error") %> prohibited this email_signup from being saved:</h2>

      <ul>
      <% @email_signup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
