<h1>Listing email_signups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_signups.each do |email_signup| %>
      <tr>
        <td><%= link_to 'Show', email_signup %></td>
        <td><%= link_to 'Edit', edit_email_signup_path(email_signup) %></td>
        <td><%= link_to 'Destroy', email_signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email signup', new_email_signup_path %>
